<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="{{ static_url("css/home.css") }}">

        <title>Let's all go the lobby</title>
    </head>

    <body>
        <h1>Not Terrible Maths</h1>

        <form method="POST">
            {% module xsrf_form_html() %}
            <div>
                <label>Room name</label>
                <input type="text" name="room_name">
            </div>
            <div>
                <label>Your name</label>
                <input type="text" name="username">
            </div>
            <button type="submti">+Create Room</button>
        </form>

        <h2>Public Rooms</h2>

        <ul>
            <li><a href="room1">Room 1</a></li>
            <li><a href="room1">Room 2</a></li>
            <li><a href="room1">Room 3</a></li>
        </ul>
    </body>
</html>
