{% extends "base.html %}

{% block head_style %}
    <link rel="stylesheet" type="text/css" href="{{ static_url("css/room.css") }}">
{% end %}

{% block title %}
    NTM Chat Room
{% end %}

{% block body %}

    <div class="row">
        <div class="large-12 columns">
            <h1>Not Terrible Maths</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h2>{{ room.name }}</h2>
        </div>
    </div>

    <div class="row" id="boxes">
        <div class="large-8 columns">
            <div id="messagebox">
                <ul id="messages">
                </ul>
            </div>
        </div>

        <div class="large-4 columns">
            <div id="userbox">
                <ul id="userlist">
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <form id="msg_form">
            <div class="small-9 columns">
                <input type="text" id="msg">
            </div>
            <div class="small-3 columns">
                <button id="msg_button">Send message!</button>
            </div>
        </form> 
    </div>

    <div class="row">
        <form id="nick_form">
            <div class="small-9 columns">
                <input type="text" id="nick">
            </div>
            <div class="small-3 columns">
                <button id="nick_button">Set nickname!</button>
            </div>
        </form>
    </div>
{% end %}


{% block end_body_scripts %}
    <script src="{{ static_url("js/room.js") }}"></script>
{% end %}
