<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="{{ static_url("css/home.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ static_url("css/room.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ static_url("js/katex/katex.min.css") }}">
        <title>NTM Chat Room</title>
    </head>

    <body>
        <h1>Not Terrible Maths</h1>

        <h2>{{ room_name }}</h2>

        <a href="wow" id="settings">
            <img src="http://cdn.flaticon.com/png/256/17789.png" width="20px">
            <div>Settings</div>
        </a>

        <ul id="messagebox">
        </ul>

        <h3>equations</h3>
        <ul id="equations">
            <li class="equation">
                e^(i*pi) = -1
            </li>
        </ul>

        <form id="msg_form">
            <input type="text" id="msg">
            <button id="msg_button">Send message!</button>
        </form> 

        <script src="{{ static_url("js/katex/katex.min.js") }}"></script>
        <script src="{{ static_url("js/room.js") }}"></script>
    </body>
</html>
